[Unit]
Description=Idle Detector and Shutdown Service
After=network.target

[Service]
ExecStart=/usr/local/bin/idle-detector.py
Type=simple

[Install]
WantedBy=multi-user.target
